/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* END OF RESET */

/* UTIL */
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-white{
    background-color: white;
}
.red-text{
    color: red;
}
/* END OF UTIL */

.raw1{
    width: 974px;
    margin: auto;
    margin-top: 20px;
}
.content{
    height: 450px;
    position: relative;
    width: 312px;
    cursor: pointer;
}
.photo{
    height: 100%;
}
.discount{
    width: 35px;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    height: 15px;
    line-height: 15px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 10;
}
.text{
    color:white;
    width: 70px;
    text-align: center;
    font-size: 0.7rem;
    height: 15px;
    line-height: 15px;
    position: absolute;
    bottom: 20px;
    left: 39px;
    z-index: 10;
}
.heart{
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px;
    font-size: 1.2rem;
    z-index: 10;
}
.second-photo{
    position: absolute;
}
.first-photo{
    position: absolute;
    z-index: 6;
}
.content:hover .second-photo{
    z-index: 7;
}
.old-price{
    text-decoration: line-through;
}
.block{
    width: 312px;
    display: inline-block;
    margin-right: 10px;
}

.text2{
    color:white;
    width: 70px;
    text-align: center;
    font-size: 0.7rem;
    height: 15px;
    line-height: 15px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 10;
}
.raw2{
    width: 994px;
    margin: auto;
}